body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #fff;
    background-color: #151515;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #333;
    border-radius: 5px;
  }
  
  h1 {
    text-align: center;
    color: #fff;
  }
  
  .option {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .option label {
    margin-left: 10px;
    color: #fff;
  }